.App {
  text-align: center;
}

h1{
  color: white;
  font-size: 50px;
}

h2{
color: white;
}

.App-button{
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
  background-color: #1877f2;
  border: none;
  color: white;
}
