.App {
  text-align: center;
}

h1{
  color:  rgb(198, 228, 255);
  font-size: 50px;
}

h2{
  background-color: rgb(198, 228, 255);
  width: 500px;
  display: inline-block;
}

.App-button{
  font-size: 20px;
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
  background-color: #1877f2;
  border: none;
  color: white;
}

a{
  color: blue;
}

input{
  background-color: #5b94c2;
}

select{
  background-color: #5b94c2;
}

.delete-icon{
  background: url(./deleteicon.ico);
  height: 24px;
  width: 24px;
  display: block;
}
