.s-div{
    text-align: center;
}

.s-label{
    color: rgb(198, 228, 255);
    font-size: 20px;
}

.s-input{
    font-size: 20px;
    width: 180px;
}

.s-span{
    display: block;
}

.s-alert{
    color: red;
}
