.t-table{
    background-color: #5b94c2;
    width: 90%;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.t-table th, .t-table td, .t-table tbody{
    font-size: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.t-p{
    font-size: 20px;
    display: inline;
}