table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    /* background-color: #a4cef0; */
}

tbody{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}